@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";

section,
h2,
[epub|type~="volume"] > [epub|type~="z3998:poem"] ~ [epub|type~="z3998:poem"]{
	break-after: page;
}

/* Dedication */
section[epub|type~="dedication"]{
	text-align: center;
}

section[epub|type~="dedication"] > *{
	display: block;
	margin: auto;
	margin-top: 3em;
	max-width: 80%;
}
/* End dedication */

/* Preface */
footer{
	margin-top: 1em;
	text-align: right;
}

[epub|type~="z3998:signature"]{
	font-variant: small-caps;
}
/* End preface */

/* Poem */
[epub|type~="z3998:poem"] hgroup p{
	text-align: center;
}

[epub|type~="z3998:poem"] p{
	text-align: initial;
	text-indent: 0;
}

[epub|type~="z3998:poem"] p > span{
	display: block;
	padding-left: 1em;
	text-indent: -1em;
}

[epub|type~="z3998:poem"] p > span + br{
	display: none;
}

[epub|type~="z3998:poem"] p + p{
	margin-top: 1em;
}

p span.i1{
	padding-left: 2em;
	text-indent: -1em;
}

p span.i4{
	padding-left: 5em;
	text-indent: -1em;
}

p span.i5{
	padding-left: 6em;
	text-indent: -1em;
}

p span.i6{
	padding-left: 7em;
	text-indent: -1em;
}

p span.i7{
	padding-left: 8em;
	text-indent: -1em;
}

p span.i8{
	padding-left: 9em;
	text-indent: -1em;
}

p span.i9{
	padding-left: 10em;
	text-indent: -1em;
}

p span.i10{
	padding-left: 11em;
	text-indent: -1em;
}

p span.i11{
	padding-left: 12em;
	text-indent: -1em;
}

p span.i12{
	padding-left: 13em;
	text-indent: -1em;
}

p span.i13{
	padding-left: 14em;
	text-indent: -1em;
}

p span.i14{
	padding-left: 15em;
	text-indent: -1em;
}

p span.i15{
	padding-left: 16em;
	text-indent: -1em;
}

p span.i16{
	padding-left: 17em;
	text-indent: -1em;
}

p span.i17{
	padding-left: 18em;
	text-indent: -1em;
}

p span.i18{
	padding-left: 19em;
	text-indent: -1em;
}

p span.i19{
	padding-left: 20em;
	text-indent: -1em;
}

p span.i20{
	padding-left: 21em;
	text-indent: -1em;
}

.dl2 span:first-child{
	vertical-align: 100%;
}
/* End poem */
